.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: black;
}
.line {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.homepage-link {
  font-size: 1.5em;
  padding-bottom: 2%;
}

a:hover, h1:hover {
  color: #3acea9;
}

a {
  text-decoration: none;
  color: black;
  padding-top: 5%;
}

.App-link {
  color: #61dafb;
}


footer {
    background-color: #3a3e3f;
    color: white;
    font-size: 2em;
    padding: 2% 0%;
}

footer a {
  color: #3acea9;
}

.social-media {
  display: flex; 
  justify-content: center;
}

.social-media svg {
  padding-right: 2%;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


